<%= simple_form_for [@topic, @view_point], :html => { :class => "form-horizontal" } do |f| %>
  <div class="row">
    <%= f.input :title,
                label_html: { class: "col-md-2" },
                input_html: { class: "col-md-10" } %>
    <%= error_span(@view_point[:title]) %>
  </div>
  <div class="row">
    <%= f.input :priority,
                label_html: { class: "col-md-2" },
                input_html: { class: "col-md-10" } %>
    <%= error_span(@view_point[:priority]) %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save", :class => "btn btn-primary" %>

    <% if @view_point.id %>
      <%= link_to "Destroy", topic_view_point_path(@view_point.topic, @view_point),
                    :method => "delete",
                    :data => { :confirm => "Are you sure?" },
                    :class => "btn btn-danger" %>
    <% end %>

    <%= link_to "Cancel", topic_path(@topic), :class => "btn btn-default" %>
  </div>
<% end %>
