<%- model_class = Topic -%>
<div class="page-header">
  <h1>Topic</h1>
</div>

<table class="table table-bordered">
  <tr>
    <th class="col-md-2 active">Title</th>
    <td class="col-md-10"><%= @topic.title %></td>
  </tr>
  <tr>
    <th class="col-md-2 active">Description</th>
    <td class="col-md-10"><%= @topic.description %></td>
  </tr>
</table>

<div class="panel panel-default">
  <div class="panel-heading"><b>Factors Matrix</b></div>
  <table class="table table-bordered table-hover">
    <tr>
      <td></td>
      <% @topic.candidates.each do |candidate| %>
      <td><%= link_to candidate.title, edit_topic_candidate_path(@topic, candidate) %></td>
      <% end %>
    </tr>

    <% @topic.view_points.each do |view_point| %>
      <tr>
        <td>
          <%= link_to view_point.title, edit_topic_view_point_path(@topic, view_point) %>
        </td>
        <% @topic.candidates.each do |candidate| %>
          <td>
            <ul>
              <% factors = @topic.factors.select { |f| f.view_point == view_point && f.candidate == candidate } %>
              <% factors.each do |factor| %>
                <li>
                  <%= link_to factor.title, edit_topic_factor_path(@topic, factor) %>
                </li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              topics_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_topic_path(@topic), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              topic_path(@topic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
