<%- model_class = Topic -%>
<div class="page-header">
  <h1>Topic</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Summary</b></div>
  <table class="table table-bordered">
    <tr>
      <th class="col-md-2 active">Title</th>
      <td class="col-md-10"><%= @topic.title %></td>
    </tr>
    <tr>
      <th class="col-md-2 active">Description</th>
      <td class="col-md-10"><%= @topic.description %></td>
    </tr>
    <tr>
      <th class="col-md-2 active">Comment</th>
      <td class="col-md-10"><%= @topic.comment %></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Matrix</b></div>
  <table class="table table-bordered table-hover">
    <tr>
      <td rowspan="2" colspan="2"></td>
      <td align="center" colspan="2"><b>Candidates</b></td>
    </tr>
    <tr>
      <% @topic.candidates.each do |candidate| %>
      <td>
        <% if candidate.first? %>
            <i class="fa fa-arrow-left inactive"></i>
        <% else %>
          <%= link_to move_higher_topic_candidate_path(candidate.topic, candidate),
                :method => :post, :id => :candidate do %>
            <i class="fa fa-arrow-left"></i>
          <% end %>
        <% end %>

        <% if candidate.last? %>
            <i class="fa fa-arrow-right inactive"></i>
        <% else %>
          <%= link_to move_lower_topic_candidate_path(candidate.topic, candidate),
                :method => :post, :id => :candidate do %>
            <i class="fa fa-arrow-right"></i>
          <% end %>
        <% end %>

        <%= link_to candidate.title, edit_topic_candidate_path(@topic, candidate) %>
      </td>
      <% end %>
    </tr>

    <% @topic.view_points.each_with_index do |view_point, index| %>
      <tr>
        <% if index == 0 %>
          <td rowspan="<%= @topic.view_points.count %>" class="matrix-header"><b>View Points</b></td>
        <% end %>
        <td>
          <% if view_point.first? %>
              <i class="fa fa-arrow-up inactive"></i>
          <% else %>
            <%= link_to move_higher_topic_view_point_path(view_point.topic, view_point),
                  :method => :post, :id => :view_point do %>
              <i class="fa fa-arrow-up"></i>
            <% end %>
          <% end %>

          <% if view_point.last? %>
              <i class="fa fa-arrow-down inactive"></i>
          <% else %>
            <%= link_to move_lower_topic_view_point_path(view_point.topic, view_point),
                  :method => :post, :id => :view_point do %>
              <i class="fa fa-arrow-down"></i>
            <% end %>
          <% end %>

          <%= link_to view_point.title, edit_topic_view_point_path(@topic, view_point) %>
        </td>
        <% @topic.candidates.each do |candidate| %>
          <td>
            <ul>
              <% factors = @topic.factors.select { |f| f.view_point == view_point && f.candidate == candidate } %>
              <% factors.each do |factor| %>
                <li>
                  <%= link_to factor.title, edit_topic_factor_path(@topic, factor) %>

                  <% if factor.description != "" %>
                    <%= link_to '#',
                      "class": "has-popover",
                      "data-toggle": "popover",
                      "data-content": factor.description do %>
                      <i class="fa fa-comment-o"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= link_to new_topic_factor_path(@topic, view_point: view_point, candidate: candidate) do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="form-actions">
  <%= link_to "New View Point",
              new_topic_view_point_path(@topic), :class => "btn btn-success" %>

  <%= link_to "New Candidate",
              new_topic_candidate_path(@topic), :class => "btn btn-success" %>

  <%= link_to "New Factor",
              new_topic_factor_path(@topic), :class => "btn btn-success" %>
</div>

<div class="form-actions">
  <%= link_to "Edit Topic",
              edit_topic_path(@topic), :class => "btn btn-default" %>

  <%= link_to "Destroy Topic",
              topic_path(@topic),
              :method => "delete",
              :data => { :confirm => "Are you sure?" },
              :class => "btn btn-danger" %>

  <%= link_to "Back",
              topics_path, :class => "btn btn-default" %>
</div>