<%- model_class = Topic -%>
<div class="page-header">
  <h1>Topic</h1>
</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>

<%= render :partial => "show_summary", locals: {topic: @topic} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Matrix of </b> <%= link_to pluralize(@topic.factors_count, "merit factors"), topic_factors_path(@topic) %>
  </div>
  <table class="table table-bordered table-hover">
    <tr>
      <td rowspan="2" colspan="2"></td>
      <td align="center" colspan="2">
        <%= link_to topic_candidates_path(@topic) do %>
          <%= pluralize(@topic.candidates_count, "candidate") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <% @topic.candidates.each do |candidate| %>
        <td>
          <%= render :partial => "show_candidate", locals: {candidate: candidate} %>
        </td>
      <% end %>
    </tr>

    <% @topic.view_points.each_with_index do |view_point, index| %>
      <tr>
        <% if index == 0 %>
          <td rowspan="<%= @topic.view_points.count %>" class="matrix-header">
            <%= link_to topic_view_points_path(@topic) do %>
              <%= pluralize(@topic.view_points_count, "view point") %>
            <% end %>
          </td>
        <% end %>

        <td>
          <%= render :partial => "show_view_point", locals: {view_point: view_point} %>
        </td>

        <% @topic.candidates.each do |candidate| %>
          <td>
            <ul>
              <% factors = @topic.factors.select { |f| f.view_point == view_point && f.candidate == candidate } %>
              <% factors.each do |factor| %>
                <li>
                  <%= link_to edit_topic_factor_path(@topic, factor) do %>
                    <span class="<%= factor.score_name.downcase %>"><%= factor.title %></span>
                  <% end %>

                  <% if factor.description != "" %>
                    <%= link_to '#',
                      "class": "has-popover",
                      "data-toggle": "popover",
                      "data-content": factor.description do %>
                      <i class="fa fa-comment-o"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= link_to new_topic_factor_path(@topic, view_point: view_point, candidate: candidate) do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="form-actions">
  <%= link_to "New View Point",
              new_topic_view_point_path(@topic), :class => "btn btn-success" %>

  <%= link_to "New Candidate",
              new_topic_candidate_path(@topic), :class => "btn btn-success" %>

  <%= link_to "New Factor",
              new_topic_factor_path(@topic), :class => "btn btn-success" %>
</div>

<div class="form-actions">
  <%= link_to "Edit Topic",
              edit_topic_path(@topic), :class => "btn btn-default" %>

  <%= link_to "Back",
              topics_path, :class => "btn btn-default" %>
</div>

<div class="form-actions">
  <%= link_to "Destroy Topic",
              topic_path(@topic),
              :method => "delete",
              :data => { :confirm => "Are you sure?" },
              :class => "btn btn-danger" %>
</div>
