<%= simple_form_for [@topic, @factor], :html => { :class => "form-horizontal" } do |f| %>
  <div class="row">
    <%= f.input :title,
                label_html: { class: "col-xs-12 col-sm-2" },
                input_html: { class: "col-xs-12 col-sm-10" } %>
    <%= error_span(@factor[:title]) %>
  </div>
  <div class="row">
    <%= f.input :description,
                label_html: { class: "col-xs-12 col-sm-2" },
                input_html: { class: "col-xs-12 col-sm-10" } %>
    <%= error_span(@factor[:description]) %>
  </div>
  <div class="row">
    <%= f.input :score,
                label_html: { class: "col-xs-12 col-sm-2" } do %>
      <%= f.select :score,
                   Factor.scores,
                   {},
                   { class: "col-xs-12 col-sm-10" } %>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :view_point,
                label_html: { class: "col-xs-12 col-sm-2" } do %>
      <%= f.select :view_point_id,
                   @view_points.map { |r| [r.title, r.id] },
                   {},
                   { class: "col-xs-12 col-sm-10" } %>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :candidate,
                label_html: { class: "col-xs-12 col-sm-2" } do %>
      <%= f.select :candidate_id,
                   @candidates.map { |r| [r.title, r.id] },
                   {},
                   { class: "col-xs-12 col-sm-10" } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => "btn btn-primary" %>

    <%= link_to "Cancel", topic_path(@topic), :class => "btn btn-default" %>

  <div class="form-actions">
    <% if @factor.id %>
      <%= link_to "Destroy",
                  topic_factor_path(@factor.topic, @factor),
                  :method => "delete",
                  :data => { :confirm => "Are you sure?" },
                  :class => "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
