<%- model_class = Candidate -%>
<div class="page-header">
  <h1><%=t ".title", :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @candidate.title %></dd>
</dl>

<%= link_to "Edit",
             edit_topic_candidate_path(@candidate.topic, @candidate), :class => "btn btn-default" %>

<%= link_to "Destroy",
            topic_candidate_path(@candidate.topic, @candidate),
            :method => "delete",
            :data => { :confirm => "Are you sure?" },
            :class => "btn btn-danger" %>

<%= link_to "Back",
            topic_candidates_path(@topic), :class => "btn btn-default" %>

